@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "JetBrains Mono";
  color: #090a0d;
}

body {
  height: 95vh;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 5rem;
  column-gap: 2rem;
  background-image: linear-gradient(45deg, #3c2adc60, #ed178960);
}

#list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: .5rem;
}

#list > .buttons {
  padding: .3rem 0;
  font-size: 1.5rem;
  background-image: linear-gradient(45deg, #ed178960, #3c2abc60);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}