

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande';
  color: #353b48;
}

body {
  height: 95vh;
  width: 100%;
  display: grid;

  padding: 5rem;
  column-gap: 3rem;
}

#lista {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1.5rem;
}

#lista > .buttons {
  padding: 1.2rem 0;
  font-size: 1.5rem;
  background-color: #831dd160;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
