*{
    margin: 0%;
    padding: 0%;
	
	
	

}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 5px;

	

}

header img{
	display: block;
    margin-left: auto;
    margin-right: auto;

}

h1{
	
    margin-left: auto;
    margin-right: auto;

}

body{
	background-color:darkcyan;

	
}
.container{
    display: flex;  
	margin-top: 50px;
	background-color: white;
    	
}



.caracteristicas-digimons{


    width: 50%;
    border-radius: 5px;
   
	
}

.card{
    padding: 10px;
    margin: 5px;
    text-align: center;
	background-color: darkcyan;
}

.card .image{
	align-items: center;
    max-width: 150px;
    border-radius: 5px;
}

.card .title{
    font-size: 1.5em;
    font-weight: bolder;
   
}

.card .text{
    font-size: 1em;
    font-weight: bolder;
}